@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

html{
    overflow-x: hidden !important; 
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #040494;
    text-align: left;
    background-color: #fff;
  }
.navbar-nav a{
    color: rgba(0, 0, 0, 0.6);
    font-size: 24px;
}
.navbar-toggler-icon{
    color: #fdda24 !important;
}
.welcome{
    padding-bottom: 5%;
    overflow-x: hidden;
}
#welcome h1{
  line-height: 54px;
  font-weight: 600;
  font-size: 45px;
}
@media only screen and (max-width : 767px) {
    .welcome .btn-primary{
        margin-bottom: 5%;
    }
    }
.btn-primary{
    color: #fff;
    background: #085981 !important;
    border-color: #085981 !important;
    font-size: 24px;
}
#welcome span {
    color:  #fdda24;
    font-size: 45px;
  }
  .about{
    background-color: rgba(8, 89, 129, 0.09);
    padding-top: 5%;
    padding-bottom: 5%;
    overflow-x: hidden;
 }
 .about h3{
     font-size: 30px;
 }
 .about p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
}
 .about .btn-primary{
     align-items: center;
     text-align: center;
 }
 .services{
    overflow-x: hidden;
 }
 #services .card-img-top {
    width: 40%;
    height: 30%;
    margin-top: 15%;
}

#services .card-title {
    text-align: center;
    margin-top: 10%;
    font-size: 30px;
    font-style: bold;
}

#services p {
    text-align: left;
    line-height: 24px;
    font-size: 20px;
    top: 0% !important;
    color: rgba(0, 0, 0, 0.6);
    padding-top: 5%;
}

#services .card {
    box-shadow: -5px 20px 50px rgba(0, 0, 0, 0.09);
    border: none;
    margin-bottom: 20%;
}
#services .card-text{
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    text-align: center;
}
#services p {
    line-height: 24px;
}

#services .text {
    line-height: 24px;
}
.portfolio {
    background-color: rgba(8, 89, 129, 0.09);
    padding-top: 5%;
    padding-bottom: 5%;
    overflow-x: hidden;
}

.portfolio .btn-primary {
    margin-top: 90%;
    margin-left: 30%;
}
.portfolio .intro {
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    padding-top: 5%;
}

.contact{
margin-bottom: 5%;
margin-top: 5%;
overflow-x: hidden;
}
.form-control{
    background: rgba(8, 89, 129, 0.09) !important;
}
.contact h4{
    font-size: 24px;
    color: #000000 !important;
}
.contact p{
    font-size: 30px;
}
.footer{
    color: #fff;
    background: #085981;
     overflow-x: hidden;
}
.footer h6{
    font-size: 24px;
    padding-top: 3%;
    padding-bottom: 2%;
   
}
.footer .text-uppercase{
    padding-bottom: 2%;
}
.footer a{
    color: #fff;
}
.footer a:hover{
    color: #fdda24;
}




